@import '../styles/variable.scss';

.container {
  display: flex;
  align-items: baseline;
  gap: 10px;

  & > button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $white;
    font-size: 20px;

    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
}
